###############################################################################
# PLEASE NOTE: This file should be changed only by the maintainer.
# PLEASE NOTE: This file is only sourced if the "shutit build" command is run
#              and this file is in the relative path: configs/build.cnf
#              This is to ensure it is only sourced if _this_ module is the
#              target.
###############################################################################
# When this module is the one being built, which modules should be built along with it by default?
# This feeds into automated testing of each module.
[tk.shutit.land_registry.land_registry]
shutit.core.module.build:yes
# Allowed images as a regexp, eg ["ubuntu:12.*"], or [".*"], or ["centos"].
# It's recommended this is locked down as far as possible.
shutit.core.module.allowed_images:["ubuntu:14.04"]

# Aspects of build process
[build]
base_image:ubuntu:14.04

[repository]
name:land_registry

[container]
# Hostname for the container
hostname:land_registry
# Root password
password:land_registry

[repository]
do_repository_work:yes
user:
password:
email:
tag:yes
push:no
tar:no
name:land_registry
suffix_date:no
# Use month
suffix_format:%m
